# OS X specified
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# vim specified
.vim/bundle/*
.vim/vim_swap/*
.vim/vim_backup/*

# project specified
.project
war/WEB-INF/web.xml
ios/moshikyaba/Classes/ViewController.m
.metadata/
